@{
    ViewData["Title"] = "Notificaciones de Inactividad";
}

<h1>Notificaciones de Inactividad</h1>

<div id="notifications"></div>

<script src="~/lib/signalr/signalr.min.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder()
        .withUrl("/notificationHub") // Ruta para conectar al hub en el proyecto API
        .build();

    connection.start().then(function () {
        console.log("Conexión SignalR establecida.");
    }).catch(function (err) {
        console.error(err.toString());
    });

    connection.on("ReceiveNotification", function (message) {
        // Muestra la notificación de inactividad en la página.
        document.getElementById("notifications").innerHTML += "<p>" + message + "</p>";
    });
</script>